{{define "edit"}}
<html lang="en">
<head>
<title>Edit Team: {{.Name}}</title>
{{template "styles"}}
</head>
<body>
{{template "nav"}}
		<div class="content-sction-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="content-section-a">
						<ul class="list-inline">
<!-- content starts here -->
<ul>
	{{ $x := .Id }}
	{{range .User}}
        <li>{{.Name}} ({{.LocKey}}): ( {{.State}} )<br /><a href="/team/{{printf "%s" $x}}/{{.LocKey}}/delete">remove</a></li>
	{{end}}
</ul>
<form action="/team/{{.Id}}" method="get">
Location Key: <input type="text" name="key" />
<input type="submit" name="add" value="add user to team" />
</form>
<!-- content ends here -->				
						</ul>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->

{{template "footer"}}

	<!-- jQuery -->
	<script src="https://phtiv.com/phtivdrawtools/js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="https://phtiv.com/phtivdrawtools/js/bootstrap.min.js"></script>
</body>
</html>
{{end}}
