{{define "me"}}
<html lang="en">
<head>
<title>{{.IngressName}} user data</title>
{{template "styles"}}
</head>
<body>
{{template "nav"}}
	<div class="content-sction-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="content-section-a">
						<ul class="list-inline">
<!-- content starts here -->
<ul>
<li>Display Name: {{.IngressName}}
<form action="/me" method="get">
<input type="text" name="name" />
<input type="submit" name="update" value="update name" />
</form>
</li>
<li>Location Share Key: {{.LocationKey}}</li>
<li>OwnTracks Username: {{.LocationKey}}</li>
<li>OwnTracks Password: {{.OwnTracksPW}}</li>
<li>OwnTracks Data: {{.OwnTracksJSON}}</li>
<li>Teams onto which I've been invited:
  <ul>
	{{range .Teams}}
		<li><a href="/team/{{.Id}}">{{.Name}}</a> ({{.State}})  
{{if eq .State "Off"}}
			<a href="/me/{{.Id}}?state=On">On</a>
{{else}}
			<a href="/me/{{.Id}}?state=Off">Off</a>
{{end}}
		</li>
	{{end}}
  </ul>
</li>
<li>Teams I Own:
  <ul>
	{{range .OwnedTeams}}
		<li><a href="/team/{{.Team}}">{{.Name}}</a> ({{.Team}})<br/>
		  <a href="/team/{{.Team}}/edit">Edit {{.Name}}</a><br/>
		  <a href="/team/{{.Team}}/delete">Delete {{.Name}}</a>
		</li>
	{{end}}
</ul>
<form action="/team/new" method="get">
<input type="text" name="name" />
<input type="submit" name="update" value="new team" />
</form>
</li>
<li>Draws I own:
	<ul>
	{{range .OwnedDraws}}
		<li>Internal ID: {{.Hash}}<br />
		{{if .AuthTeam}}
			<a href="/team/{{.AuthTeam}}">Authorized Team</a><br />
		{{end}}
		Uploaded: {{.UploadTime}}<br/>
		Expiration: {{.Expiration}}<br />
		Views: {{.Views}}<br />
		<form action="/draw/{{.Hash}}" method="GET"><input name="authteam" value="{{.AuthTeam}}"><input type="submit" name="update" value="Set AuthTeam"></form>
		</li>
	{{end}}
	</ul>
</li>
</ul>
<form action="/me" method="get">
Lat: <input type="text" name="lat" value="0" id="lat" />
Lon: <input type="text" name="lon" value="0" id="lon" />
<input type="submit" name="location" value="set location" />
</form>
		<!-- content ends here -->				
						
						</ul>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->

{{template "footer"}}

	<script>
function geoFindMe() {
  const lat = document.querySelector('#lat');
  const lon = document.querySelector('#lon');

  function success(position) {
	lat.value = position.coords.latitude;
	lon.value = position.coords.longitude;
  }

  function error() {
	lat.value = '-0';
	lon.value = '-0';
  }

  if (navigator.geolocation) {
	navigator.geolocation.getCurrentPosition(success, error);
  }

}
document.querySelector('#lat').addEventListener('click', geoFindMe);
document.querySelector('#lon').addEventListener('click', geoFindMe);
	</script>

	<!-- jQuery -->
	<script src="https://phtiv.com/phtivdrawtools/js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="https://phtiv.com/phtivdrawtools/js/bootstrap.min.js"></script>
</body>
</html>
{{end}}
