language: go

go:
  - "1.11.x"

matrix:
  # Build OK if fails on unstable development versions of Go.
  allow_failures:
    - go: master
  # Don't wait for tests to finish on allow_failures.
  # Mark the build finished if tests pass on other versions of Go.
  fast_finish: true

addons:
    mariadb: "10.3"

go_import_path: github.com/cloudkucooland/WASABI

before_install:
     - echo "CREATE DATABASE wasabi" | mysql -u root --password="" 

install:
    # - go get golang.org/x/lint/golint
    - go get -t -v $(go list ./... | grep -v integration)

script:
    # - golint -set_exit_status $(go list ./...)
    #- go test -v -race -test.short ./...        # Run tests with the race detector.
    - go test -v
    - go get -v ./...                           # Run Go static analyzer.
    - go run cmd/wasabi-userupdate/main.go
