{{define "styles"}}
	<link href="https://phtiv.com/phtivdrawtools/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<link href="https://phtiv.com/phtivdrawtools/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://phtiv.com/phtivdrawtools/css/landing-page.css" rel="stylesheet">
{{end}}
{{define "nav"}}
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
		<div class="container topnav">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand topnav" href="/me">My Dashboard</a>
				<a class="navbar-brand topnav" href="/api/v1/waypoints/me">Waypoints Near Me</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="https://phtiv.com/phtivdrawtools/#contact">Contact</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
{{end}}
{{define "footer"}}
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="list-inline">
					</ul>
					<p class="copyright text-muted small">A deviousness/Phtiv collaboration</p>
					<p class="text-muted small">This site uses a cookie for authentication purposes. You may opt into location tracking; your location and other information will be shared <strong>only</strong> with members of your teams. Your ENL information is verified with <a href="https://v.enl.one/">V</a> and <a href="https://enl.rocks">.rocks</a>.</p>
				</div>
			</div>
		</div>
	</footer>
{{end}}
