{{define "me"}}
<html lang="en">
<head>
<title>{{.IngressName}} user data</title>
{{template "styles"}}
</head>
<body>
{{template "nav"}}
	<div class="content-sction-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="content-section-a">
<!-- content starts here -->
<div class="card mb-2">
<div class="card-header">Agent Info</div>
<div class="card-body"></div>
<ul class="list-group list-group-flush">
<li class="list-group-item">Location Share Key: {{.LocationKey}}
<br/>
<small>This is the information you will need to give to your operator to be invited on to the op team. Once you are invited onto the team, you will need to enable the team (below). You can disable a team at any time.</small>
<small><a href="/me?newlockey=y">Request a new LocKey</a> (because Frank didn't like his)
</li>
<li class="list-group-item">Display Name: {{.IngressName}}
<br/>
<small>This is how you are shown on the maps. This information should only be trusted for agents who are verified at <a href="https://v.enl.one/">V</a> or <a href="https://enlightened.rocks">.rocks</a></small>
</li>
{{if VEnlOne}}
{{if .VVerified}}
<li class="list-group-item"><a href="https://v.enl.one/">V Status:</a> <a href="https://v.enl.one/profile/{{.Vid}}">Verified</a></li>
<li class="list-group-item"><a href="https://raid.enl.one/">Checking RAID for location data:</a> {{.RAID}}<br />
<small>RAID is an ENL Android/iPhone app which can share location data. We are still researching the exact configuration to make this work. If you are a RAID user and do not want to use OwnTracks, we can get RAID data. OwnTracks will give more up-to-date information to the operator since there is a lag in our polling the RAID servers.</small>
</li>
{{else}}
<li class="list-group-item"><a href="https://v.enl.one/">V Status:</a> Not Verified <a href="{{ Webroot }}/login">Login again to recheck</a></li>
<li class="list-group-item">
<form action="/me" method="get">
<input type="text" name="name" />
<input type="submit" name="update" value="update display name" />
</form>
</li>
{{end}}
{{end}}
{{if EnlRocks}}
<li class="list-group-item"><a href="https://enlightened.rocks/">.Rocks Verified:</a> <a href="http://enlightened.rocks/me">{{.RocksVerified}}</a><br />
<small>.Rocks verification typically only takes place in relationship to anomolies. Lack of verification does not mean you don't have a .rocks account, it just means you've not been verified at an anomoly event</small>
</li>
{{end}}
<li class="list-group-item"><a href="/{{WebAPIPath}}/waypoints/me">Waypoints/Markers Near Me</a></li>
</div>

<div class="card mb-2">
<div class="card-header">OwnTracks Info</div>
<div class="card-body"></div>
  <ul class="list-group list-group-flush">
<li class="list-group-item">OwnTracks Mode: Private HTTP
<br/>
<small>MQTT is not currently supported.</small>
</li>
<li class="list-group-item">OwnTracks Username: {{.LocationKey}}
<br/>
<small>Use this value in the OwnTracks app.</small>
</li>
<li class="list-group-item">OwnTracks Password:
{{if eq .OwnTracksPW "" }}
  <h4>Not yet configured</h4> : You will need to configure a password in order to use OwnTracks
{{else}}
  Configured
{{end}}
</li>
<li class="list-group-item">
<form action="/me" method="get">
<input type="text" name="otpw" />
<input type="submit" name="update" value="update OT Password" />
</form>
</li>
<li class="list-group-item">OwnTracks URL: {{ Webroot }}/OwnTracks
<br />
<small>Use this URL in the OneTracks app. Device ID can be anything. Tracker ID can be any two-letter code. Ask you operator if she has any preference.</small>
</li>
</ul>
</div>

{{if (TGRunning)}}
<div class="card mb-2">
<div class="card-header">Telegram</div>
<div class="card-body">
</div>
  <ul class="list-group list-group-flush">
{{if (.Telegram.ID) }}
		<li class="list-group-item">ID: {{.Telegram.UserName}} ({{.Telegram.ID}})</li>
{{end}}
{{if (.Telegram.Verified) }}
		<li class="list-group-item">Status: Verified.</li>
{{else}}
		<li class="list-group-item">Status: Not Verified.</li>
		<li class="list-group-item">Instructions:
    {{if (.Telegram.Authtoken) }}
        Tell the bot (<a href="tg://resolve?domain={{ TGGetBotName }}">@{{ TGGetBotName }}</a>) <a href="https://telegram.me/PhDevBot?start={{.Telegram.Authtoken}}">{{.Telegram.Authtoken}}</a> to get verified.
    {{else}}
        Tell the bot (<a href="tg://resolve?domain={{ TGGetBotName }}">@{{ TGGetBotName }}</a>) <a href="https://telegram.me/PhDevBot?start={{.LocationKey}}">{{.LocationKey}}</a> to start the verification process.
    {{end}}
{{end}}
		</li>
  </ul>
</div>
{{end}}

<div class="card mb-2">
<div class="card-header">Teams</div>
<div class="card-body">
<small>Disable inactive teams. It is good opsec and reduces data transfer. If you use OneTracks and want to submit waypoints, you must set a primary team.</small>
</div>
  <ul class="list-group list-group-flush">
	{{range .Teams}}
		<li class="list-group-item">{{.Name}} ({{.State}})  
{{if eq .State "Off"}}
			<a href="/me/{{.ID}}?state=On">On</a>
{{else}}
    {{if eq .State "Primary"}}
			<a href="/me/{{.ID}}?state=Off">Off</a>
    {{else}}
			<a href="/me/{{.ID}}?state=Off">Off</a>
			<a href="/me/{{.ID}}?state=Primary">Primary</a>
    {{end}}
{{end}}
		</li>
	{{end}}
  </ul>
</div>

<div class="card mb-2">
  <div class="card-header">My Teams</div>
  <div class="card-body">
  </div>
  <ul class="list-group list-group-flush">
{{range .OwnedTeams}}
    <li class="list-group-item">
	<h5 class="card-subheading"><a href="/{{WebAPIPath}}/team/{{.ID}}">{{.Name}}</a> ({{.ID}})</h5>
	<a href="/{{WebAPIPath}}/team/{{.ID}}/edit" class="card-link">Edit</a>
	<a href="/{{WebAPIPath}}/team/{{.ID}}/delete" class="card-link">Delete</a>
	</li>
{{end}}
  <li class="list-group-item">
    <form action="/{{WebAPIPath}}/team/new" method="get">
    <input type="text" name="name" />
    <input type="submit" name="update" value="new team" />
    </form>
  </li>
  </ul>
</div>

<div class="card mb-2">
  <div class="card-header">Manual Location Set</div>
  <div class="card-body">
		<li class="list-group-item">
<form action="/me" method="get">
Lat: <input type="text" name="lat" value="0" id="lat" />
Lon: <input type="text" name="lon" value="0" id="lon" />
<input type="submit" name="location" value="set location" />
</form>
        </li>
  </ul>
</div>
	
		<!-- content ends here -->				
						
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->

{{template "footer"}}

	<script>
function geoFindMe() {
  const lat = document.querySelector('#lat');
  const lon = document.querySelector('#lon');

  function success(position) {
	lat.value = position.coords.latitude;
	lon.value = position.coords.longitude;
  }

  function error() {
	lat.value = '-0';
	lon.value = '-0';
  }

  if (navigator.geolocation) {
	navigator.geolocation.getCurrentPosition(success, error);
  }

}
document.querySelector('#lat').addEventListener('click', geoFindMe);
document.querySelector('#lon').addEventListener('click', geoFindMe);
	</script>

	<!-- jQuery -->
	<script src="https://phtiv.com/phtivdrawtools/js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="https://phtiv.com/phtivdrawtools/js/bootstrap.min.js"></script>
</body>
</html>
{{end}}
