{{define "status"}}
<html lang="en">
<head>
<title>PhDevBin development status</title>
{{template "styles"}}
</head>
<body>
{{template "nav"}}
	<div class="content-sction-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="content-section-a">
						<ul class="list-inline">
<!-- content starts here -->

<table>
<th>
 <td>Feature</td>
 <td>Server</td>
 <td>IITC Plugin</td>
 <td>Client</td>
</th>
<tr>
 <td>Draw Update PUSH</td>
 <td>done</td>
 <td>in progress</td>
 <td>N/A</td>
</tr>
<tr>
 <td>Draw refresh</td>
 <td>N/A</td>
 <td>in progress</td>
 <td>N/A</td>
</tr>
<tr>
 <td>User Location</td>
 <td>done</td>
 <td>(display) in progress</td>
 <td>not started</td>
</tr>
<tr>
 <td>Targets</td>
 <td>in progress</td>
 <td>not started</td>
 <td>not startedA</td>
</tr>

</table>
		<!-- content ends here -->				
						
						</ul>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
{{template "footer"}}
</body>
</html>
{{end}}
